@model Blog.WEB.Models.ViewUserModel

<div>
    <h4 class="custom-title">Account Setting</h4>
    <dl class="dl-horizontal col-lg-4 col-md-4 col-sm-6">
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.Email):
        </dt>

        <dd class="form-control">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>

        <dd class="form-control">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.LastName):
        </dt>

        <dd class="form-control">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.Role):
        </dt>

        <dd class="form-control">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="control-label">
            Password:
        </dt>

        <dd class="form-control custom-password">
            [@Html.ActionLink("Change account password", "ChangePassword")]
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
