@using Blog.BLL.Dto
@model BlogDto

@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg">
            <div class="thumbnail custom-blog custom-animation_border">
                <span class="label label-default text-left custom-author">@Model.UserProfile.Email</span>
                <div class="text-right">
                    
                    @using (Html.BeginForm("DeletePost", "Blog", FormMethod.Post))
                    {
                    <div class="input-group">
                        <div hidden="hidden">
                            @Html.EditorFor(model => model)
                        </div>
                        <span class="input-group-btn">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary custom-bth" })
                            <button type="submit" name="url" value="@Request.Url.AbsoluteUri" class="btn btn-danger custom-bth">Detele</button>
                        </span>
                    </div>
                    }
                </div>
                <div class="caption">
                    
                    <h3 class="text-center custom-blog_title">
                        @Model.Title
                    </h3>

                    <p class="custom-blog_text">
                        @Model.Text
                    </p>
                    <div class="text-right">
                        <span class="custom-blog_time">
                            @Model.CreateAt
                        </span>
                    </div>
                </div>
                <div class="custom-comment_block">
                    @foreach (CommentDto c in Model.Comment)
                    {
                        if (c != null)
                        {
                            <div class="well well-sm custom-comment">
                                <span class="label label-default text-left custom-author">@c.UserEmail</span>
                                <div class="custom-blog_text small">
                                    @c.Text
                                </div>
                                <div class="text-right">
                                    <span class="custom-blog_time small">@c.CreateAt</span>
                                </div>
                            </div>

                            using (Html.BeginForm("DeleteComment", "Blog", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group">
                                    <input type="text" class="hidden" name="Id" value="@c.Id" />
                                    <span class="input-group-btn">
                                        <button type="submit" name="url" value="@Request.Url.AbsoluteUri" class="btn btn-danger custom-bth">Detele</button>
                                    </span>
                                </div>
                            }
                        }
                    }
                </div>

                @using (Html.BeginForm("AddComment", "Blog", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input type="text" class="form-control" name="comment" placeholder="Add a comment..." />
                        <input type="text" class="hidden" name="postId" value="@Model.Id" />
                        <span class="input-group-btn">
                            <button type="submit" name="url" value="@Request.Url.AbsoluteUri" class="btn btn-primary custom-bth">Post</button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>

}
